.cardBody
{
    width:100%;
    padding:10px;
    height:auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid lightgrey;
}
.cardImageHolder
{
    width:100%;
    background-color: white;
    max-width: 300px;
    max-height:300px;
    text-align: center;
    margin-bottom: 10px;
    overflow: hidden;
}
.cardImageHolder img
{
    width:100%;
    transition: all 0.3s ease-in-out;
}
.cardImageHolder img:hover
{
    transform: scale(1.1);
}
