.galleryCover
{
    border: 2px solid #205179;
    padding: 15px;
    
    margin: 0;
    margin-bottom: 60px;
    /* position: relative; */
    border-radius: 5px;
    z-index: 99 !important;
}
.gap
{
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: transparent;
}
.galleryCover .row > *
{
    margin: 20px auto 0 auto; 
    /* position: inherit; */
}
.title
{
    display: table;
    background-color: #fff;
    color: #205179;
    margin: 0 auto;
    margin-top: -43px;
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bolder;
    box-sizing: border-box;
}
@media only screen and (min-width:992px)
{
    .title
    {
        font-size: 2rem;
        margin-top: -50px;
    }
}